{% extends 'dashboard/base.html' %}

{% block title %}doc Interested | View {% endblock %}
{% load bootstrap4 %}

{% block content %}


{% if pos == 'one' %}


<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>To'lliq ismi: <mark><i>{{ root.FIO }}</i></mark></h4>
    </div>
</div>
<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Mutaxasisligi: <mark><i>{{ root.specialty }}</i></mark></h4>
    </div>
</div>
<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Shifokor haqida: <mark><i>{{ root.about_doctor }}</i></mark></h4>
    </div>
</div>
<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Shifokor shiori: <mark><i>{{ root.motto }}</i></mark></h4>
    </div>
</div>
<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Shifokor telefon raqami: <mark><i>{{ root.phone }}</i></mark></h4>
    </div>
</div>
<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Electron pochtasi: <mark><i>{{ root.email }}</i></mark></h4>
    </div>
</div>
<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Instagram sahifasi: <mark><i>{{ root.instagram }}</i></mark></h4>
    </div>
</div>

<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Facebook sahifasi: <mark><i>{{ root.facebook }}</i></mark></h4>
    </div>
</div>
<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Twitter sahifasi: <mark><i>{{ root.twitter }}</i></mark></h4>
    </div>
</div>

<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Telegram accounti: <mark><i>{{ root.telegram }}</i></mark></h4>
    </div>
</div>
<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Odnoklasniki accounti: <mark><i>{{ root.ok }}</i></mark></h4>
    </div>
</div>
<div class="card mb-4 border-left-warning">
    <div class="card-body">
        <h4>Rasm: <img src="{{ root.img.url }}" alt="Rasm topilmadi!" width="900px"></h4>
    </div>
</div>

<div class="card mb-4 border-bottom-warning">
    <div class="card-body">
        <a href="{% url 'dashboard-auto-edit' key='doc' pk=root.id %}" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-edit"></i>
            </span>
            <span class="text">Tahrirlash</span>
        </a>
        <a href="{% url 'dashboard-auto-list' key='doc' %}" class="btn btn-warning btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text">Listlarga qaytish</span>
        </a>
        <a href="{% url 'home' %}" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-home"></i>
            </span>
            <span class="text">Bosh Menu</span>
        </a>
    </div>
</div>


{% elif pos == 'form' %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-info">
            <form class="form" method="post" id="form-profession" enctype="multipart/form-data" novalidate>

                {% csrf_token %}
                <div class="card-body">
                    <h2 class="form-group text-center">Doctorlar formasi</h2>
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.FIO %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.specialty %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.motto %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.phone %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.email %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.instagram %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.telegram %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.facebook %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.twitter %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.ok %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.about_doctor %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.img %}
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="card-action right-align">
                              <button type="submit" class="btn btn-block btn-success">
                                <i class="fas fa-check"></i>O'zgarishlarni Saqlash
                              </button>
                        </div>
                        <a href="{% url 'dashboard-auto-list' key='doc' %}">
                            <div class="card-action ml-1 right-align">
                                  <button type="button" class="btn btn-block btn-info">
                                        <i class="fas fa-home"></i> Listlarga qaytish
                                  </button>
                            </div>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% else %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-warning">Yangiliklar</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>FIO</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in roots %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.FIO }}</td>
                        <td>
                            <a href="{% url 'dashboard-auto-detail' key='doc' pk=i.id %}" title="To'lliq ma'lumotlarni ko'rish" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <a href="{% url 'dashboard-auto-edit' key='doc' pk=i.id %}" title="O'zgartirish" class="btn btn-warning btn-circle btn-sm">
                                <i class="fas fa-pen"></i>
                            </a>
                        </td>
                    </tr>
                   {% endfor %}

                </tbody>
            </table>
        </div>


        <div class="pagination">
            <span class="step-links">
                {% if roots.has_previous %}
                    <a href="?page=1" class="btn btn-primary btn-sm">&laquo;first</a>
                    <a href="?page={{ docs.previous_page_number }}"  class="btn btn-primary btn-sm">prev</a>
                {% endif %}

                <span class="current">
                    Page {{ roots.number }} of {{ roots.paginator.num_pages }}.
                </span>

                {% if roots.has_next %}
                    <a href="?page={{ roots.next_page_number }}" class="btn btn-primary btn-sm">next</a>
                    <a href="?page={{ roots.paginator.num_pages }}" class="btn btn-primary btn-sm">last&raquo;</a>
                {% endif %}
            </span>
        </div>
        <hr>
        <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
                <a href="{% url 'dashboard-auto-add' key='doc' %}" class="btn btn-success btn-icon-split" >
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Yangi Doctor qo'shish</span>
                </a>
                <a href="{% url 'home' %}"  class="btn btn-info btn-icon-split" >
                   <span class="icon text-white-50">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="text">Bosh Menu</span>
               </a>
            </div>

        </div>
    </div>
</div>





{% endif %}
{% endblock %}